// Paleta Pok茅mon 
$pokemon-yellow: #FFCB05;
$pokemon-red: #D32F2F;
$pokemon-blue: #1976D2;
$dark-gray: #2C2C2C;

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // Asegura que los elementos est茅n m谩s arriba
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, $pokemon-yellow, $pokemon-blue);
  padding: 10px; // Se redujo el padding general
}

ion-header {
  ion-toolbar {
    background-color: $pokemon-red !important;
    color: white;
  }
}

.profile-card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 15px; // Reducido de 20px a 15px para menor altura
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px; // Se reduce la separaci贸n con el header
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px; // Se redujo el gap entre la imagen y la info
}

.image-container img {
  width: 90px; // Se redujo un poco la imagen
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  text-align: left;
}

.profile-info h2 {
  color: $pokemon-blue;
  margin-bottom: 5px;
}

.profile-info p {
  color: $dark-gray;
  font-size: 14px;
  margin: 2px 0;
}

.button-container {
  width: 90%;
  max-width: 400px;
  margin-top: 10px; // Se redujo la separaci贸n con la tarjeta
}

.btn-card {
  text-align: center;
  border-radius: 15px;
  padding: 12px; // Se redujo el padding de los botones
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px; // Se redujo un poco el tama帽o de la fuente
  font-weight: bold;
  margin-bottom: 10px; // Menos separaci贸n entre botones
  cursor: pointer;
}

.btn-card:nth-child(1) {
  border-left: 40px solid $pokemon-blue; // Se redujo el grosor del borde
  border-right: 40px solid $pokemon-blue;
  color: $pokemon-blue;
}

.btn-card:nth-child(2) {
  border-left: 4px solid $pokemon-yellow;
  color: $dark-gray;
}

.logout {
  border-left: 4px solid $pokemon-red;
  color: $pokemon-red;
}

// Bot贸n flotante Pok茅bola
.pokeball-button img {
  width: 55px; // Se redujo ligeramente el tama帽o
  height: auto;
}
.ion-fab  {
  bottom: 80px !important; // Se aument贸 la distancia al bottom
}
