// Paleta Pokémon 🎨
$pokemon-yellow: #FFCB05;
$pokemon-red: #D32F2F;
$pokemon-blue: #1976D2;
$dark-gray: #2C2C2C;

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  background: linear-gradient(to bottom, $pokemon-yellow, $pokemon-blue);
  padding: 10px;
}

ion-header {
  ion-toolbar {
    background-color: $pokemon-red !important;
    color: white;
  }
}

.profile-card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  text-align: left;
}

.profile-info h2 {
  color: $pokemon-blue;
  margin-bottom: 5px;
}

.profile-info p {
  color: $dark-gray;
  font-size: 14px;
  margin: 2px 0;
}

// Eliminar botón flotante
ion-fab {
  display: none;
}
             