<ion-header>
  <ion-toolbar color="danger">
 
    <ion-title>Detalles de {{ pokemon.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-container">
  <div class="details-container">
    <ion-card class="profile-card" [ngStyle]="{'border-color': getPokemonColor(pokemon.type)}">
      <div class="profile-header">
        <div class="image-container">
          <img [src]="pokemon.image" alt="{{ pokemon.name }}" />
        </div>
        <div class="profile-info">
          <h2>{{ pokemon.name }}</h2>
          <p>Tipo: {{ pokemon.type }}</p>
        </div>
      </div>
    </ion-card>
    
     </div>
</ion-content>
